@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,bold,italic&subset=latin,latin-ext");
@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-letters {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  color: white;
  background-color: pink;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0% {
    background-color: red;
    left: 100px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 500px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 500px;
    top: 100px;
  }
  75% {
    background-color: green;
    left: 100px;
    top: 100px;
  }
  100% {
    background-color: red;
    left: 50px;
    top: 0px;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2; /* Ensure the navbar appears above the slide show */
}

.slide-show {
  position: relative;
  z-index: 1; /* Ensure the slide show stays below the navbar */
}

.slide-content {
  position: relative;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.slide-text h1 {
  position: relative;
}

.slide-text .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.slide-text.slide-in {
  animation: slideInLeft 2s ease-in-out;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


